*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work sans';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: #740d0d; */
}
#nav{
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav #nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#circle{
    height: 25px;
    width: 25px;
    background: #000;
    border-radius: 50%;
}
#nav #nav-part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
#nav #nav-part2 h4{
   font-size: 20px;
   font-weight: 600;
   text-transform: capitalize;
}
#nav #nav-part2 span{
    color: rgb(139, 138, 138);
    margin-left: 30px;
}
#nav2{
    height: 70px;
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: center; */
    gap: 80px;
    padding: 0 50px;
}
#nav2 h3{
    font-size: 18px;
    text-transform:uppercase ;
    font-weight: 600;
}
#content{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content{
    height: 40%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 8px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: rgb(214, 158, 84);
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-size: 130px;
    font-weight:300 ;
}
#img-content{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#img-content::-webkit-scrollbar{
    display: none;
}
#img-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: 0 80deg;
}